[submodule "lib/morpho-contracts"]
	path = lib/morpho-contracts
	url = https://github.com/morpho-labs/morpho-contracts
	ignore = dirty
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
	ignore = dirty
