[submodule "lib/morpho-contracts"]
	path = lib/morpho-contracts
	url = git@github.com:morpho-labs/morpho-contracts.git
	ignore = dirty
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
	ignore = dirty
